@mixin content-container {
	.content-container {
		width: 90%;
		@include full-height();
		.view-layout {
			@extend .full-size;

			.component-container {
				@extend .full-size;
				.component-menu-container {
					@include full-width();
					display:block;
				}
				.component-content-container{
					@extend .full-size;
					.component-view-container {
						@extend .full-size;
						.editor-component-container {
							@extend .full-size;
							margin:1% 0;
							.editor-field-container {
								width:100%;
								margin-bottom:1%;
							}
						}
						.list-layout {
							@extend .full-size;
							.list-component {
								@include full-width();
							}
						}
					}
				}
			}
		}
	}
}